#li {
    border: 1px solid green;
    background-color: rgb(166, 219, 166);
    padding: 8px;
    border-radius: 6px;
    margin: 6px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
#li:hover {
    transform: scale(1.05);
    background-color: rgb(120, 200, 120);
}