#trueLi {
    border: 1px solid green;
    background-color: lightgreen;
    padding: 8px;
    border-radius: 6px;
    margin: 6px;
}
#falseLi {
    border: 1px solid red;
    background-color: lightcoral;
    padding: 8px;
    border-radius: 6px;
    margin: 6px;
}
/* #trueA {
    color: lightgreen;
    font-weight: bold;
}
#falseA {
    color: lightcoral;
    font-weight: bold;
} */